{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row justify-content-center mt-5 ">
        <div class="col-md-6">
            <p>Forgotten your password? Enter your email address below, and we will email instructions for setting a new one.</p>
              <form action="#" method="post" class="form">
                  {% csrf_token %}
                  {{ form|crispy }}
                  
                  <button type="submit" class="btn btn-primary">Reset Password</button>
              </form>
          </div>
      </div>
  </div>
{% endblock %}